body{ 
        background-color: #f8f7f5;
    }

.navBar{
    align-items: center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #f8f7f6;
    
   
}

.features span{
    margin-right:20px;
    letter-spacing: 1px;

}

/* brand name */
.brand-name{
        text-align: center;
        padding: 15px ;
    }
.brand-name h1{ 
        font-family: serif;
        font-size: 48px;
        font-weight: 600;
        margin: 0;
        letter-spacing: 2px;
        color: #2e2a26;
    }
.brand-name p{
        font-family:sans-serif;
        font-size:18px;
        margin-top: -8px;
        letter-spacing: 8px;
        color: #8c7a6b;
        margin-bottom: 0;
    }

.features,.login{
     flex:1;  /*takes equal space*/
}

.login{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* animation=marque */
.animation{
margin: 0;
white-space: nowrap;
width: 100%;
overflow: hidden;
background-color: #f8eac4;
}

.scroll-text{
        display: inline-block;
        animation: scroll 20s linear infinite;
        padding-right: 50px;
    }
.dark{
    color: #59564d;
    margin: 0 20px;
}
.gold{
    color: #c6ab5b;
    margin: 0 20px;
}

@keyframes scroll{
        from{
            transform: translateX(0%);
        }
        to{
            transform: translateX(-50%);
        }
    }

.image{
        display: flex;
        transition: transform 0.6s ease-in-out;
    }
    .logo{
        width: 100%;
        height: 500px;
        object-fit: cover; 
        object-position: bottom;
        flex: 0 00 100%; /*take 100% width of parent container */
    }

.carousel{
    position: relative; 
    width:1500px;
    height: 500px;
    overflow: hidden;

}


.previous, .next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border:none;
    padding:10px;
    font-size: 15px;
    cursor:pointer;
}

.previous{
    left:20px
}

.next{
    right:20px;
}

/* shop by category */
.category{
    max-width:1250px;
    margin:60px auto;
    text-align: left;
    padding:20px;
    background-color: #f6f5f4;
}
.category h2{
   font-size: 20px;
   letter-spacing: 3px;
   font-weight: 1000;
   color: #2e2e2e; 
}
.category-card{
    position: relative;
    overflow: hidden;
}
.category-card img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    display: block;
}
.category-name{
    position: absolute;
    bottom:0;
    width:100%;
    padding: 25px 0;
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: white;
    font-size: 16px;
    letter-spacing: 2px;

}
.categories-grid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}

/* featured products  */
.products{
    max-width:1250px;
    margin:60px auto;
    text-align: left;
    padding:20px;
    background-color: #f6f5f4;
}
.products h2{
   font-size: 30px;
   text-align: center;
   letter-spacing: 3px;
   font-weight: 1500;
   color: #2e2e2e; 
}
.products h4{
    text-align: center;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 700px;
    color: #edc345;

}
.product-card{
    position: relative;
    overflow: hidden;
}
.product-card img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    display: block;
}
.product-name{
    position: absolute;
    bottom:0;
    width:100%;
    padding: 25px 0;
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: white;
    font-size: 16px;
    letter-spacing: 2px;

}
.product-grid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}

/* footer */

.footer-container{
    background: linear-gradient(to right, #1a1a1a, #2c2c2c);
    color: #dcdcdc;
    padding: 60px 80px 30px;
    font-family: Georgia, serif;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 50px;
}
.footer h2 {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.footer h4 {
    color: white;
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 2px;
}
.footer ul li {
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 40px;
    padding-top: 20px;
    font-size: 8px;
    text-align: center;
    color: #a0a0a0;
}